<nz-page-header nzBackIcon (nzBack)="bit.back()" [nzTitle]="bit.title|Locale:bit.locale">
</nz-page-header>

<nz-card>
  <form nz-form [formGroup]="form" (bitFormSubmit)="submit($event)">
    <nz-form-item>
      <nz-form-label bitFormLabelCol nzRequired>
        {{bit.l['username']}}
      </nz-form-label>
      <nz-form-control bitFormControlCol>
        <input nz-input [readonly]="true" [value]="username"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label bitFormLabelCol nzRequired>
        {{bit.l['role']}}
      </nz-form-label>
      <nz-form-control bitFormControlCol>
        <nz-select nzShowSearch nzAllowClear formControlName="role" [nzPlaceHolder]="bit.l['rolePlaceholder']">
          <ng-template ngFor let-x [ngForOf]="roleLists">
            <nz-option [nzLabel]="x.name|Locale:bit.locale" [nzValue]="x.key"></nz-option>
          </ng-template>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label bitFormLabelCol>
        {{bit.l['password']}}
      </nz-form-label>
      <nz-form-control bitFormControlCol nzHasFeedback [nzErrorTip]="password.ref">
        <input nz-input formControlName="password" type="password" [placeholder]="bit.l['passwordPlaceholder']"/>
        <bit-error-tip #password [hasError]="{
          required:bit.l['passwordRequire'],
          minlength:bit.l['passwordCorrectly'],
          maxlength:bit.l['passwordCorrectly']
        }"></bit-error-tip>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label bitFormLabelCol>
        {{bit.l['call']}}
      </nz-form-label>
      <nz-form-control bitFormControlCol nzHasFeedback>
        <input nz-input formControlName="call" [placeholder]="bit.l['callPlaceholder']"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label bitFormLabelCol>
        {{bit.l['email']}}
      </nz-form-label>
      <nz-form-control bitFormControlCol
                       nzHasFeedback
                       [nzErrorTip]="email.ref">
        <input nz-input formControlName="email" [placeholder]="bit.l['emailPlaceholder']"/>
        <bit-error-tip #email [hasError]="{
          email:bit.l['emailCorrectly']
        }"></bit-error-tip>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label bitFormLabelCol>
        {{bit.l['phone']}}
      </nz-form-label>
      <nz-form-control bitFormControlCol nzHasFeedback>
        <input nz-input formControlName="phone" [placeholder]="bit.l['phonePlaceholder']"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label bitFormLabelCol>
        {{bit.l['avatar']}}
      </nz-form-label>
      <nz-form-control bitFormControlCol>
        <p>{{bit.l['avatarTips']}}</p>
        <nz-upload nzName="image" bitUpload
                   nzListType="picture-card"
                   (nzChange)="upload($event)">
          <ng-container *ngIf="!avatar">
            <i nz-icon type="plus"></i>
            <div class="ant-upload-text">{{bit.l['upload']}}</div>
          </ng-container>
          <img width="120" *ngIf="avatar" [src]="bit.static+avatar" class="avatar">
        </nz-upload>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label bitFormLabelCol nzRequired>
        {{bit.l['status']}}
      </nz-form-label>
      <nz-form-control bitFormControlCol>
        <nz-switch formControlName="status"
                   [nzCheckedChildren]="bit.l['on']"
                   [nzUnCheckedChildren]="bit.l['off']">
        </nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-divider></nz-divider>

    <nz-form-item>
      <nz-form-control bitFormControlCol="submit">
        <button nz-button nzType="primary" [disabled]="!form.valid">
          {{bit.l['submit']}}
        </button>
        <button nz-button type="button" bitBack>
          {{bit.l['cancel']}}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
